@charset "UTF-8";
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6, li, svg {
  margin: 0;
  padding: 0;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
}

/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat-v25-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/montserrat-v25-latin-700.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-pro-regular - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/source-sans-pro-v21-latin-regular.woff2") format("woff2"), url("../fonts/source-sans-pro-v21-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/open-sans-v34-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v34-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("../fonts/open-sans-v34-latin-italic.woff2") format("woff2"), url("../fonts/open-sans-v34-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?ryvb8r");
  src: url("../fonts/icomoon.eot?ryvb8r#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?ryvb8r") format("truetype"), url("../fonts/icomoon.woff?ryvb8r") format("woff"), url("../fonts/icomoon.svg?ryvb8r#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "";
}

.icon-location:before {
  content: "";
}

.icon-clock:before {
  content: "";
}

.icon-drawer2:before {
  content: "";
}

.icon-circle-down:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.button {
  cursor: pointer;
  text-align: center;
  display: block;
  transition: 0.2s ease-in-out 0s;
  max-width: 190px;
  padding: 15px 40px;
  border: 1px solid #000;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  text-transform: uppercase;
}

.arrow_btn {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: 0.2s ease-in-out 0s;
}
.arrow_btn a {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  transform: rotate(135deg);
}
.arrow_btn a:after {
  content: "";
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  z-index: 2;
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Collapse
   */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

main {
  overflow: hidden;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  background-image: url("../img/about/tu-tram-pham-202263 1.png"), linear-gradient(243.43deg, #7e5aff 16.9%, #55b7ff 83.27%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section:not(:first-child) {
  padding: 150px 0;
}

.news {
  width: 100%;
  background-image: url("../img/news/city 2 @2x 1.png"), linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer {
  width: 100%;
  background-image: url("../img/footer/scott-webb-176434 2.svg"), linear-gradient(243.43deg, #7e5aff 16.9%, #55b7ff 83.27%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home_page {
  background-color: #000;
}

.logo img {
  max-width: 241px;
}

.nav_wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 53px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 110px;
}
.nav .nav_menu {
  display: flex;
  justify-content: space-between;
  gap: 78px;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
}
.nav .menu_item {
  transition: 0.2s ease-in-out 0s;
}

.social_media {
  max-width: 160px;
  display: flex;
}
.social_media .social_media_item {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 1px solid #FFF;
  border-radius: 50%;
  padding: 10px;
  color: #fff;
  transition: 0.2s ease-in-out 0s;
}
.social_media .social_media_item:not(:last-of-type) {
  margin-right: 20px;
}

.hamburger {
  display: none;
}

.home_slider {
  text-align: center;
}

.home .slick-dots {
  margin-right: 52px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
}
.home .slick-dots button {
  font-size: 0;
  cursor: pointer;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 0;
  border: 1px solid #FFF;
  background-color: transparent;
}
.home .arrow_btn {
  margin: 0 auto;
  margin-bottom: 50px;
}

.about_wrapper {
  padding: 0 65px;
}
.about_wrapper .about_text {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 80px;
  line-height: 98px;
  letter-spacing: 0.1em;
  color: #fff;
}
.about_wrapper .about_description {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.3em;
  color: #FFF;
}

.projects_block {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.projects_block .img_wrapper_left {
  position: relative;
}
.projects_block .img_wrapper_left::before {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: 60px;
  right: 215px;
  display: block;
  width: 585px;
  height: 470px;
  background-color: #55B7FF;
}
.projects_block .img_wrapper_right {
  position: relative;
}
.projects_block .img_wrapper_right::before {
  content: "";
  z-index: -1;
  position: absolute;
  display: block;
  width: 585px;
  height: 470px;
  bottom: 60px;
  left: 215px;
  background-color: #7E5AFF;
}
.projects_block img {
  max-width: 630px;
}
.projects_block .up_title {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
  text-transform: uppercase;
}
.projects_block .text {
  max-width: 470px;
  margin-bottom: 40px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #2C4058;
  text-transform: none;
}
.projects_block .button {
  margin-bottom: 80px;
}
.projects_block .location_text {
  font-style: italic;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #2C4058;
  text-transform: none;
}

.projects_block:first-of-type {
  margin-bottom: 170px;
}

.section_title {
  position: relative;
  text-align: center;
}
.section_title::before {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background-color: #2C4058;
  position: absolute;
  left: 50%;
  top: -35px;
  transform: translateX(-50%);
}

.projects .section_title {
  margin-bottom: 150px;
}

.title {
  margin-bottom: 20px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2C4058;
  text-transform: uppercase;
}

.news .title {
  color: #fff;
}
.news .title::before {
  background-color: #fff;
}

.news .section_title {
  margin-bottom: 90px;
}
.news .news_slider_wrapper {
  margin: 0 auto;
}
.news .slick-dots {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  position: absolute;
  bottom: -160px;
  right: 50%;
  transform: translate(50%);
  margin-bottom: 120px;
  margin-right: 0;
}
.news .slick-dots button {
  font-size: 0;
  cursor: pointer;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 0;
  border: 1px solid #FFFFFF;
  background-color: transparent;
}
.news .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.news .slick-arrow img {
  width: 40px;
  height: 40px;
  display: inline-block;
}
.news .slick-prev {
  left: -60px;
  transition: 0.2s ease-in-out 0s;
}
.news .slick-next {
  right: -40px;
  transition: 0.2s ease-in-out 0s;
}
.news .article {
  width: 370px;
  background-color: #fff;
  margin: 0 15px;
  height: 100%;
  transition: 0.2s ease-in-out 0s;
}
.news .img_wrapper {
  height: 246px;
}
.news .img_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news .author_photo {
  width: 60px;
  height: 60px;
}
.news .author_photo img {
  border-radius: 50%;
}
.news .article_content_wrapper {
  padding: 30px 15px;
}
.news .article_title {
  margin-bottom: 15px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
  text-transform: uppercase;
}
.news .article_text {
  margin-bottom: 40px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
  white-space: normal;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #2C4058;
  text-transform: none;
}

.article_author {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.author_info .name {
  display: block;
  margin-bottom: 6px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #2C4058;
  text-transform: uppercase;
}
.author_info .date {
  display: block;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #55B7FF;
  text-transform: none;
}

.gallery .section_title {
  margin-bottom: 90px;
}
.gallery .gallery_grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 25%);
  grid-auto-rows: 214px;
  margin-bottom: 80px;
}
.gallery .gallery_item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .gallery_item:nth-child(1) {
  grid-row: 1/3;
  grid-column: 1/3;
}
.gallery .button {
  margin: 0 auto;
}

main .contact {
  padding: 0;
}

.contact {
  position: relative;
}
.contact .section_title {
  margin-bottom: 45px;
}
.contact .contact_block {
  position: absolute;
  background-color: #fff;
  padding: 90px 60px 70px;
  left: 50%;
  bottom: -139px;
  transform: translateX(-50%);
}
.contact .contact_wrapper {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  margin: 0 auto;
}
.contact .contact_info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000;
  text-transform: none;
}
.contact a span:first-of-type {
  margin-right: 5px;
  color: #7E5AFF;
}
.contact .icon-clock {
  margin-right: 5px;
  color: #7E5AFF;
}
.contact .form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact input::placeholder {
  opacity: 0.5;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #4B5562;
  text-transform: none;
}
.contact input:not(:last-of-type) {
  outline: none;
  padding-bottom: 20px;
  display: block;
  width: 310px;
  border: none;
  border-bottom: 1px solid #2C4058;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000;
  text-transform: none;
}
.contact .button {
  cursor: pointer;
  margin: 0 0 0 auto;
  background-color: transparent;
}

.footer {
  padding: 215px 0 40px;
}
.footer .container {
  max-width: 770px;
}
.footer .nav_wrapper {
  padding: 0 0 40px;
}
.footer .copyright {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  text-transform: none;
}

#map {
  height: 700px;
  width: 100%;
  z-index: 0;
}

.menu_item a {
  position: relative;
}
.menu_item a::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border: 1px solid #fff;
  border-radius: 50%;
  left: -20px;
  top: 4px;
}
.menu_item .active {
  position: relative;
}
.menu_item .active::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border: 1px solid #fff;
  border-radius: 50%;
  left: -20px;
  top: 4px;
  background-color: #fff;
}

.slick-dots li.slick-active button {
  background-color: #FFFFFF;
}

.menu_item:hover {
  transform: scale(1.2);
}

.social_media_item:hover {
  transform: scale(1.2);
}

.button:hover {
  transform: scale(1.2);
}

.article:hover {
  transform: scale(0.95);
}

.arrow_btn:hover {
  transform: scale(1.2);
}

.slick-prev:hover {
  transform: scale(1.2) translateY(-40%);
}

.slick-next:hover {
  transform: scale(1.2) translateY(-40%);
}

@media screen and (max-width: 1160px) {
  .hamburger {
    display: inline-block;
  }

  .nav_wrapper.open .hamburger {
    position: fixed;
    right: 40px;
  }

  .nav_wrapper .nav_header {
    overflow: hidden;
    display: flex;
    position: fixed;
    background: linear-gradient(243.43deg, #7e5aff 16.9%, #55b7ff 83.27%);
    height: 0;
    top: 0;
    left: 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    z-index: 1;
    transition: all 0.5s ease;
  }
  .nav_wrapper .nav_header .nav_menu {
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 80%;
  }
  .nav_wrapper .nav_header .menu_item {
    border: 1px solid #fff;
    padding: 30px 5px;
    text-align: center;
    width: 100%;
  }
  .nav_wrapper .nav_header .menu_item:hover {
    transform: scale(1);
    background-color: #7E5AFF;
  }
  .nav_wrapper .nav_header .menu_item a {
    font-size: 20px;
  }
  .nav_wrapper .nav_header .menu_item a::before {
    content: none;
  }
  .nav_wrapper .nav_header .social_media {
    max-width: 100%;
    gap: 30px;
  }
  .nav_wrapper .nav_header .social_media .social_media_item {
    width: 50px;
    height: 50px;
    padding: 30px;
  }
  .nav_wrapper .nav_header .social_media .social_media_item:hover {
    transform: scale(1);
    background-color: #7E5AFF;
  }
  .nav_wrapper .nav_header .social_media .social_media_item a {
    font-size: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav_wrapper.open .nav_header {
    height: 100vh;
    transition: all 0.5s ease;
  }

  .news .slick-arrow img {
    width: 0;
    height: 0;
  }
  .news .article_title {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
    white-space: normal;
  }

  .footer .nav_wrapper {
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
  }
  .footer .copyright {
    text-align: center;
  }
}
@media screen and (max-width: 780px) {
  section:not(:first-child) {
    padding: 98px 0;
  }

  .nav_wrapper .nav_header .menu_item {
    padding: 10px 5px;
  }
  .nav_wrapper .nav_header .menu_item a {
    font-size: 15px;
  }
  .nav_wrapper .nav_header .social_media {
    gap: 5px;
  }
  .nav_wrapper .nav_header .social_media .social_media_item {
    width: 30px;
    height: 30px;
    padding: 20px;
  }
  .nav_wrapper .nav_header .social_media .social_media_item a {
    font-size: 15px;
  }

  .title {
    font-size: 25px;
  }

  .home .slick-dots {
    position: static;
    flex-direction: row;
    margin: 160px 0 0;
  }
  .home .about_text {
    font-size: 40px;
    line-height: 50px;
  }

  .projects .section_title {
    margin-bottom: 30px;
  }
  .projects .projects_block {
    flex-direction: column;
  }
  .projects .projects_block:first-of-type {
    margin-bottom: 55px;
  }
  .projects .projects_block:last-of-type {
    flex-direction: column-reverse;
  }
  .projects .button {
    margin-bottom: 33px;
  }
  .projects .text_content {
    margin: 30px 0;
  }
  .projects .img_wrapper_left:before, .projects .img_wrapper_right:before {
    width: 220px;
    height: 220px;
  }

  #gallery {
    padding: 60px 0;
  }

  .gallery .section_title {
    margin-bottom: 30px;
  }
  .gallery .gallery_grid {
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: auto;
    gap: 4px;
  }

  .news .article_title {
    font-size: 20px;
  }
  .news .section_title {
    margin-bottom: 30px;
  }

  .contact .contact_wrapper {
    min-width: 333px;
    flex-direction: column;
    gap: 20px;
  }
  .contact .contact_block {
    padding: 62px 21px;
    bottom: -188px;
  }
  .contact .form .button {
    margin: 30px auto;
  }
  .contact .form .input {
    width: 100%;
  }
  .contact .contact_info {
    gap: 10px;
  }

  .footer {
    padding: 215px 0 40px;
  }
}