.button {
  cursor: pointer;
  text-align: center;
  display: block;
  transition: 0.2s ease-in-out 0s;
  max-width: 190px;
  padding: 15px 40px;
  border: 1px solid #000;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  text-transform: uppercase;
}

.arrow_btn {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: 0.2s ease-in-out 0s;
}
.arrow_btn a {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  transform: rotate(135deg);
}
.arrow_btn a:after {
  content: "";
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}