@media screen and (max-width: 1160px) {
  .hamburger {
    display: inline-block;
  }

  .nav_wrapper.open .hamburger {
    position: fixed;
    right: 40px;
  }

  .nav_wrapper .nav_header {
    overflow: hidden;
    display: flex;
    position: fixed;
    background: linear-gradient(243.43deg, #7e5aff 16.9%, #55b7ff 83.27%);
    height: 0;
    top: 0;
    left: 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    z-index: 1;
    transition: all 0.5s ease;
  }
  .nav_wrapper .nav_header .nav_menu {
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 80%;
  }
  .nav_wrapper .nav_header .menu_item {
    border: 1px solid #fff;
    padding: 30px 5px;
    text-align: center;
    width: 100%;
  }
  .nav_wrapper .nav_header .menu_item:hover {
    transform: scale(1);
    background-color: #7E5AFF;
  }
  .nav_wrapper .nav_header .menu_item a {
    font-size: 20px;
  }
  .nav_wrapper .nav_header .menu_item a::before {
    content: none;
  }
  .nav_wrapper .nav_header .social_media {
    max-width: 100%;
    gap: 30px;
  }
  .nav_wrapper .nav_header .social_media .social_media_item {
    width: 50px;
    height: 50px;
    padding: 30px;
  }
  .nav_wrapper .nav_header .social_media .social_media_item:hover {
    transform: scale(1);
    background-color: #7E5AFF;
  }
  .nav_wrapper .nav_header .social_media .social_media_item a {
    font-size: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav_wrapper.open .nav_header {
    height: 100vh;
    transition: all 0.5s ease;
  }

  .news .slick-arrow img {
    width: 0;
    height: 0;
  }
  .news .article_title {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
    white-space: normal;
  }

  .footer .nav_wrapper {
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
  }
  .footer .copyright {
    text-align: center;
  }
}
@media screen and (max-width: 780px) {
  .nav_wrapper.open .hamburger {
    right: 20px;
  }

  section:not(:first-child) {
    padding: 98px 0;
  }

  .nav_wrapper .nav_header .menu_item {
    padding: 10px 5px;
  }
  .nav_wrapper .nav_header .menu_item a {
    font-size: 15px;
  }
  .nav_wrapper .nav_header .social_media {
    gap: 5px;
  }
  .nav_wrapper .nav_header .social_media .social_media_item {
    width: 30px;
    height: 30px;
    padding: 20px;
  }
  .nav_wrapper .nav_header .social_media .social_media_item a {
    font-size: 15px;
  }

  .title {
    font-size: 25px;
  }

  .home .slick-dots {
    position: static;
    flex-direction: row;
    margin: 160px 0 0;
  }
  .home .about_text {
    font-size: 40px;
    line-height: 50px;
  }

  .projects .section_title {
    margin-bottom: 30px;
  }
  .projects .projects_block {
    flex-direction: column;
  }
  .projects .projects_block:first-of-type {
    margin-bottom: 55px;
  }
  .projects .projects_block:last-of-type {
    flex-direction: column-reverse;
  }
  .projects .button {
    margin-bottom: 33px;
  }
  .projects .text_content {
    margin: 30px 0;
  }
  .projects .img_wrapper_left:before, .projects .img_wrapper_right:before {
    width: 220px;
    height: 220px;
  }

  #gallery {
    padding: 60px 0;
  }

  .gallery .section_title {
    margin-bottom: 30px;
  }
  .gallery .gallery_grid {
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: auto;
    gap: 4px;
  }

  .news .article_title {
    font-size: 20px;
  }
  .news .section_title {
    margin-bottom: 30px;
  }

  .contact .contact_wrapper {
    min-width: 333px;
    flex-direction: column;
    gap: 20px;
  }
  .contact .contact_block {
    padding: 62px 21px;
    bottom: -188px;
  }
  .contact .form .button {
    margin: 30px auto;
  }
  .contact .form .input {
    width: 100%;
  }
  .contact .contact_info {
    gap: 10px;
  }

  .footer {
    padding: 215px 0 40px;
  }
}